<div class="container bg-body-secondary p-4">

  <h1 class="text-center">Cadastro de Produtos</h1>
  <form>

    <div class="row align-items-start">
      <div class="col-5 m-auto">
        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input type="text" class="form-control" id="id" name="id" />
        </div>
      </div>

      <div class="col-5 m-auto">
        <div class="mb-3">
          <label for="Nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="Nome" name="Nome" />
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-5 m-auto">
        <div class="mb-3">
          <label for="Preço" class="form-label">Preço</label>
          <input type="text" class="form-control" id="Preço" name="Preço" />
        </div>
      </div>

      <div class="col-5 m-auto">
        <div class="mb-3">
          <label for="Quantidade" class="form-label">Quantidade</label>
          <input type="text" class="form-control" id="Quantidade" name="Quantidade" />
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-11 m-auto">
        <div class="mb-3">
          <label for="Descrição" class="form-label">Descrição</label>
          <input type="text" class="form-control" id="Descrição" name="Descrição" />
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button">Salvar</button>
      <button class="btn btn-primary" type="button">Voltar</button>
    </div>
  </form>

</div>